<!DOCTYPE html>
<html>
<head>
    <title>Cool Image Editor</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>
<body>
    <div>
        <a href="stitch.html">Image Stitching</a>
        <form id="upload-file" method="post" enctype="multipart/form-data">
            <fieldset>
                <label for="file">Select a file</label>
                <input id="upload-file-input" name="file" type="file">
            </fieldset>
            <fieldset>
                <button id="upload-file-btn" type="button">Upload</button>
            </fieldset>
        </form>
        <div id="preview-block">
            <div class="preview-image-div">
                <img id="upload-preview" src="#" alt="uploaded image">
            </div>
            <div class="preview-image-div">
                <img id="result-preview" src="#" alt="processed image">
            </div>
        </div> 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>