<!DOCTYPE html>
<html>
<head>
    <title>Cool Image Editor</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>
<body onload="setup()">
    <div>
        <a href="share.html">Image Sharing</a>
        
        <h1 id="title">Image Editor</h1>
        <form id="upload-file" method="post" enctype="multipart/form-data">
            <label for="file">Select a file</label>
            <input id="upload-file-input" name="file" type="file">
            <button id="upload-file-btn" type="button">Process</button>
        </form>
        <div id="dropdown-wrapper">
            <select id="image-ops">
                <option value="filter-grayscale" selected="selected">Grayscale</option>
                <option value="filter-black-white-median" >Black and White (Median)</option>
                <option value="filter-black-white-otsu" >Black and White (Otsu's)</option>
                <option value="filter-two-color">Two Colors</option>
                <option value="filter-canny">Canny Edge Detector</option>
                <option value="filter-sobel">Sobel Filter</option>
                <option value="filter-bilateral">Bilateral Filter</option>
                <option value="enhance-brightness">Enhance Brightness</option>
                <option value="enhance-contrast">Enhance Contrast</option>
                <option value="enhance-sharpness">Enhance Sharpness</option>
                <option value="enhance-color">Enhance Color</option>
                <option value="fil-warm">Warm</option>
                <option value="fil-old">Old</option>
                <option value="fil-green">Blue-Green</option>
                <option value="fil-noise1">Light noise</option>
                <option value="fil-noise">Noise</option>
                <option value="quantize-kmeans">Color Quantization (K-means)</option>
                <option value="quantize-median">Color Quantization (Median-cut)</option>
            </select>
            <div class="slider-container">
                <input type="range" min="0" max="100" value="50" id="slider">
                <div id="slider-output"></div>
            </div>
        </div>
        
        <div id="preview-block">
            <div class="preview-image-div">
                <img id="upload-preview">
            </div>
            <div class="preview-image-div">
                <img id="result-preview">
                <!--
                <div id="toggle-ops">
                    <button id="undo-btn">Undo</button>
                    <button id="redo-btn">Redo</button>
                </div>
                -->
            </div>
        </div> 
        <div id="footer">
            <a id="download-button">Download Processed Image</a>
            <button id="share-button">Share Image</button>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>