<!DOCTYPE html>
<html>
<head>
    <title>Image Editor</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>
    <body>
    
    <ul class="menu-main">
      <li><a href="index.html"> Home</a></li>
      <li><a href="edit.html">Image Editor</a></li>
      <li><a href="share.html">Image Sharing</a></li>
    </ul>


    <div id="home">

        <div id="pics">
          <img src=/images/1.jpg>
          <img src=/images/2.jpg>
          <img src=/images/3.jpg>
          <img src=/images/4.jpg>
          <img src=/images/5.jpg>
        </div>

        <h1> About </h1>
        <p> Our editor offers so many functions and filters, 
            and all you need is an internet connection. </p>
        <h1> How to edit images online? </h1>
        <ul>
          <p1> • Click 'select a file' button <br></p1>

          <p1> • Choose a photo from your computer <br></p1>

          <p1> • Choose a filter from the list <br></p1>

                <p1> • Click 'process' <br></p1>

                <p1> • Donwoald your picture and share it with friends! <br></p1>
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>