body {
    font-family: "Roboto";
    text-align: center;
    width: 100vw;
    background-color: #f5f5f5;
    color: #4e4e4e;
}

.center-align {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#gallery {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.image-item {
    display: inline-block;
    zoom: 1; 
    *display: inline;
    height: 250px;
    margin-left: 2%;
    margin-right: 2%;
}

.image-item img {
    height: 80%;
}

.like-div {
    width: 100%;
    height: 16%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.like-div img {
    vertical-align: middle;
}

.like-div img:hover {
    cursor: pointer;
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
}

.like-count {
    font-size: 1.5rem;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #feb386; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 20vh;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}