body, html
{
    height: 100vh;
    width: 100vw;
    padding: 0;
}

.preview-image
{
    height: 100%;
}

#preview-block
{
    width: 80%;
    height: 25vh;
    display: flex;
    margin: 0 auto;
    /*justify-content: space-between;*/
    background-color: yellow;
    overflow: scroll;
    list-style: none;
}
